<%- include("header") -%>

<!-- HEADING/TITLE -->
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<!-- ITEMS LIST -->
<div class="box">
  <!-- ARRAY TO ADD ITEMS TO LIST -->
  <% newListItems.forEach(function(item){ %>

  <!-- FORM TO DELETE ITEMS -->
  <form method="POST">
    <div id="checkbox-container" class="item">
      <input class="checkbox" type="checkbox" name="checkbox" id="option"
      value="<%= item._id %>" <%= item.checked ? "checked" : "" %>/>

      <p><%= item.name %></p>

      <input type="hidden" name="listName" id="listName" value="<%= listTitle %>"></input>
      <button
        class="delete-btn"
        type="submit"
        name="delete"
        value="<%= item._id %>"
        formaction="/delete"
      >
        Delete
      </button>
    </div>
  </form>

  <% }) %>

  <!-- FORM -->
  <form class="item" action="/" method="POST">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button class="btn" type="submit" name="button" value="<%= listTitle %>">
      Add
    </button>
  </form>
</div>

<script>
  $(".checkbox").click(function () {
    var data = {};
    data.listName = $(listName).val();
    data.value = $(this).val();
    data.checked = $(this).prop("checked");

    $.ajax({
      url: "/edit",
      type: "POST",
      cache: false,
      data: JSON.stringify(data),
      contentType: "application/json",
      datatype: "json",
      success: function (data) {},
    });
  });
</script>

<%- include("footer") -%>
